extends layout

block content
  .text-left(style="padding-left:72px;padding-right:72px;")
    h3.h3.font-weight-bold User Agreement
    p Effective May 1, 2018.
    p This agreement is a legal contract between you and us. You acknowledge that you have read, understood, and agree to be bound by the terms of this agreement. If you do not agree to this agreement, you should not use Epollo. Please take a look at Epollo’s privacy policy too—it explains how we collect and use your information.
    p You agree not to interrupt the serving of Epollo, introduce malicious code onto Epollo, make it difficult for anyone else to use Epollo due to your actions, attempt to manipulate votes or Epollo’s systems, or assist anyone in misusing Epollo in any way. It takes a lot of work to maintain Epollo. Be cool.
    p You retain the rights to your copyrighted content or information that you submit to Epollo ("user content") except as described below.
    p By submitting user content to Epollo, you grant us a royalty-free, perpetual, irrevocable, non-exclusive, unrestricted, worldwide license to reproduce, prepare derivative works, distribute copies, perform, or publicly display your user content in any medium and for any purpose, including commercial purposes, and to only authorize other users of Epollo to add content to your post.
    p Epollo is a place with third-party hyperlinks posted by users like you. We are not responsible for the content or actions of any third party websites or services associated with posted links. You agree to take sole legal responsibility for any links you post, and neither this agreement nor our privacy policy applies to any content on other websites related to those links. You should consult the terms and privacy policies of those other websites to understand your rights.
    p You agree that Epollo is not responsible for the actions taken or not taken by moderators.
    p All the things you do and all the information you submit or post to Epollo remain your responsibility. Indemnity is basically a way of saying that you will not hold us legally liable for any of your user content or actions that infringe the law or the rights of a third party or person in any way.
    p Epollo is provided "as is" and without warranty of any kind. To the maximum extent permitted by law, we and our affiliates and third party service providers disclaim any and all warranties, express or implied, including (but not limited to) implied warranties of merchantability, fitness for a particular purpose, and non-infringement of proprietary rights, or any other warranty, condition, guarantee or representation, whether oral or electronic. You are solely responsible for any damage to your computer or mobile device, loss of use, or loss of your user content. We do not guarantee that Epollo will always work properly.
    p By default any story/text you upload here will be copyrighted to your name, but you give us the right to post, upload and store it on our database, also you give the users the right to write to your work. If there is any legal issue with things you upload here please get in contact with us, but if you have a problem like someone copyed you work it does not belong to us (The page of Epollo). So you give us the right to post it out but we do not guarantee that your works cant be stoled by other users or guests on Epollo. 
    //p We want you to enjoy Epollo, so if you have an issue or dispute, you agree to raise it and try to resolve it with us informally. You can contact us with feedback and concerns here or by emailing us at contact@epollo.com.
    p The headings in this agreement are for convenience and do not control any of its provisions.
    p If any provision of this user agreement is held invalid or unenforceable, that provision will be modified to the extent necessary to render it enforceable without losing its intent. If no such modification is possible, that provision will be severed from the rest of this agreement.
    p If we do not enforce any right or provision in this user agreement, that is not to be deemed a waiver of our right to do so in the future.
    p This user agreement is the entire agreement between you and us concerning Epollo. It supersedes all prior or contemporaneous agreements between you and us. We may modify this user agreement at any time. If we make changes to this agreement that materially affect your rights, we will provide advance notice and keep this edition available as an archive on the Epollo website. By continuing to use Epollo after a change to this agreement, you agree to those changes.
    h3.h3.font-weight-bold(style="margin-top:20px;margin-bottom:20px;") Content Policy
    p Epollo is a platform for everyone to write, read, and share knowledge. The nature of it's content might be funny, serious, offensive, or anywhere in between. While participating, it’s important to keep in mind this value above all others: show enough respect to others so that we all may continue to enjoy Epollo for what it is.
      h4.h4.font-weight-bold Unwelcome content
    | While Epollo generally provides a lot of leeway in what content is acceptable, here are some guidelines for content that is not. Please keep in mind the spirit in which these were written, and know that looking for loopholes is a waste of time.
    h5(style="margin-top:10px;") Content is prohibited if it
    ul
      li Is illegal
      li Is involuntary pornography
      li Is sexual or suggestive content involving minors
      li Encourages or incites violence
      li Threatens, harasses, or bullies or encourages others to do so
      li Is personal and confidential information
      li Impersonates someone in a misleading or deceptive manner
      li Uses Epollo to solicit or facilitate any transaction or gift involving certain goods and services
      li Is spam
    br
    h5 Prohibited behavior
    | In addition to not submitting unwelcome content, the following behaviors are prohibited on Epollo
    ul
      li Asking for votes or engaging in vote manipulation
      li Breaking Epollo or doing anything that interferes with normal use of Epollo
      li Creating multiple accounts to evade punishment or avoid restrictions
    br
    | If a user of Epollo does something that goes against our Content Policy, the moderators of Epollo can do the following in order with the user.
    ul
      li Asking you nicely to knock it off
      li Asking you less nicely
      li Temporary or permanent suspension of accounts
      li Removal of privileges from, or adding restrictions to, accounts
      li Adding restrictions to share content
      li Removal of content
      li Banning from Epollo
