extend layout

block content
  section(ng-app='epollo.getting-started')
    div(ng-controller='Main')
      .ui-view
    script(src='/modules/getting-started/getting-started.app.js')
    script(src='/modules/getting-started/getting-started.controllers.js')
