extend layout

block content
  .animated.fadeIn
    header.container-fluid.bg-pics
      .row
        .container.py-5.text-white
          .row
            .col-md-12.text-center
              h1.display-4.text-uppercase.font-weight-bold
                br
                | an innovative writing sharing site
              p.lead
                | Write in any niche, share it.
                br
                | Continue any writing as you want.
                br
                | Read, on any storyline where you want.
              a.btn.btn-success.my-5(href='/signup') Sign Up for Free
    .container
      .row.text-center.jumbotron
        .col-lg-4
          h2 For anyone
          p This site is for anyone, you can read, write and continue any story. Share and wait for others creating new storylines for your work, this can give you creativity and new ideas.
          p
        .col-lg-4
          h2 Safe
          p Anything you share here remains yours, you just give the users and the site of Epollo the right to post it out and bring new ideas into your work, even the new storylines will be yours.
          p
        .col-lg-4
          h2 Useful
          p Your experimental experience in science can also be shared, others can continue it and add new experiences, but the discovery remains yours.
          p
      hr
      .row
        .col-md-7
          h2.font-weight-bold
            | About us
            br
          p.h5 Epollo is free to use site, where you can both read, and write stories.
            | The site is made for improving your creativity
            | by allowing you to participate in any story by writing new storylines.
      hr
      .row
        .col-md-7.push-md-5
          h2.font-weight-bold
            | About you 
            br
          p.h5 You can be anyone, you can work at any field, Epollo is useful for you, here you can find entetaining stories or mean sience texts what can make you think more creative or smart.
      hr
      .row
        .col-md-7
          h2.font-weight-bold
            | Free, No adds, No spam
            br
          p.h5 We are tryng to make Epollo as good and entetaining as possible, it is a lot of hard work and we do not want anything from you, no adds, no spam emails, no data collection for selling it to third party companies, we want nothing from you. Enjoy it.
