.book {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.book::after,
.book::before,
.book .c-book {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

ul {
  display: table-cell;
  vertical-align: middle;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline > li {
  margin-top: 42px;
  display: inline-block;
}

.book {
  cursor: pointer;
  display: block;
  width: 150px;
  height: 220px;
  position: relative;
  background: white;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 9px 20px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: box-shadow 0.3s linear;
}
.book
.c-book {
  width: inherit;
  height: inherit;
  transform-origin: 0 50%;
  transform: rotateY(0);
  transition: all 0.45s ease;
}
.book:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25), 0 9px 20px 0 rgba(0, 0, 0, 0.45);
}
.book:hover
.c-book {
  transform: rotateY(-25deg);
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
}
.book::after {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: -1;
  top: 0;
  background: white;
  border: 1px solid #d9d9d9;
}
.book::before {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: -1;
  top: 0;
  background: white;
  border: 1px solid #d9d9d9;
  left: -3px;
}
.book::after {
  left: -6px;
}

.bookself {
  padding-top: 22px;
  box-shadow: 0 0 10px #373737;
  border-radius: 3px;
  background: url("../images/bg-wood.png");
  background-repeat: repeat;
  background-size: auto;
}

.c-book {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  width: 300;
  height: 400;
}

.book-link,
a:hover.book-link {
  display: inline-block !important;
  text-decoration: none;
  color: inherit;
}
