body {
  color: #303030;
  font-family: "Roboto", sans-serif !important;
  background-color: #F4F4F4;
}

@media screen and (max-width: 920px) {
  .text-for-reading {
    font-size: 17px !important;
  }

  .read-div {
    padding-top: 3% !important;
    padding-left: 17% !important;
    padding-right: 17% !important;
  }

  .input-form {
    margin: 0 20% 0 20% !important;
  }
}

@media screen and (max-width: 520px) {
  .text-for-reading {
    font-size: 14px !important;
    margin: 0 !important;
  }

  .read-div {
    padding-top: 2% !important;
    padding-left: 4% !important;
    padding-right: 4% !important;
  }

  .input-form {
    margin: 0 !important;
  }
}

.main-title {
  font-size: 25px;
  font-family: "Merriweather", serif;
  margin-right: 10px;
  color: #78CDD9 !important;
}

.main-title:hover {
  font-size: 25px;
  font-family: "Merriweather", serif;
  margin-right: 10px;
  color: #A5F4FF !important;
}

.dark-input {
  background-color: #424242;
  border: none;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none;
  outline: none;
}

.rounded {
  border-radius: 50px !important;
}

.sm-img {
  width: 420px;
  height: auto;
}

.xs-img {
  width: 210px;
  height: auto;
}

.input-form {
  margin: 0 33% 0 33%;
}

.story-input {
  padding: 1% 10% 1% 10%;
}

.read-div {
  padding-top: 4%;
  padding-left: 22%;
  padding-right: 22%;
}

.text-for-reading {
  font-size: 19px;
  font-family: Georgia, "Times New Roman", serif;
  overflow-wrap: break-word;
  margin-top: 12%;
  margin-bottom: 15%;
}

.share-buttons {
  font-size: 27px;
  color: #55A4AA;
  border-radius: 0;
  margin-left: 7px;
  margin-right: 7px;
}

input, textarea {
  margin-bottom: 7px;
}

footer {
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  bottom: 0;
}

.carousel-item h2, .carousel-item h4 {
  text-shadow: 0 0 20px #373737, 0 0 20px #373737;
}
